langchain
langchain-openai
langchain_community
pypdf
faiss-cpu
sentence-transformers
python-dotenv
fastapi
uvicorn
python-multipart
openai
requests
langchain-huggingface
transformers
accelerate
bitsandbytes
langchain-mistralai
langchain-text-splitters
faker
pandas
groq
scipy
scikit-learn